apiVersion: v1
kind: Secret
metadata:
  name: github-organization-access
  labels:
    "jenkins.io/credentials-type": "usernamePassword"
  annotations:
    "jenkins.io/credentials-description": "Authentication to interact with Awesomeware-ACME organization"
type: Opaque
stringData:
  username: awesomeware-jenkins # Your GitHub username
  password: 1a08f01e2e232c1fd1768a025a28c90292b1a701 # Your GitHub personal access token
